
@media (prefers-color-scheme: dark) {
    html{
        background-color: black;
        color: white;
    }    
}

@media (prefers-color-scheme: light) {
    html{
        background-color: black;
        color: white;
    }    
}

body{
    display: flex;
    justify-content: center;
}

#holiday{
    margin: auto;
    text-align: center;
    font-size: 4em;
    font-weight: 600;
    position: absolute;
    top: 30%;
}